
@{
    ViewBag.Title = "QuanLyDonHang";
    Layout = "~/Views/Shared/_LayoutAdmin.cshtml";
    int soTT = 1;
}

<div class="row">
    <div class="col-12">
        <div class="page-title-box">

            <h4 class="page-title">Quản lý đơn hàng</h4>
        </div>
    </div>
</div>

<div class="row">
    <div class="col-12">
        <div class="card">
            <div class="card-body">
                <h4 class="header-title">Tìm kiếm sản phẩm</h4>
                <br>

                @using (Html.BeginForm("QuanLySanPham", "Admin", FormMethod.Get))
                {
                    @*<div class="form-horizontal">
                        <div class="form-group row">
                            <label class="col-lg-2 col-form-label" for="simpleinput">Tên sản phẩm</label>
                            <div class="col-lg-4">
                                <input type="text" class="form-control" name="TenSP" value="@Request["TenSP"]">
                            </div>
                            <label class="col-lg-2 col-form-label" for="simpleinput">Thương Hiệu</label>
                            <div class="col-lg-4">
                                <select name="MaTT" id="MaTT" class="form-control">
                                    <option value="">--Chọn Thương Hiệu--</option>
                                    @foreach (var item in TH)
                                    {
                                        <option value="@item.MaThuongHieu" @(MaTT == item.MaThuongHieu ? "selected" : "")>@item.TenThuongHieu</option>
                                    }
                                </select>
                            </div>
                        </div>

                    </div>

                    <div class="form-horizontal">
                        <div class="form-group row">
                            <label class="col-lg-2 col-form-label" for="simpleinput">Giá cả từ</label>
                            <div class="col-lg-3">
                                <input type="text" class="form-control" name="GiaTu" value="@Request["GiaTu"]">
                            </div>
                            <label class="col-lg-2 col-form-label" for="simpleinput">Giá cả đến</label>
                            <div class="col-lg-3">
                                <input type="text" class="form-control" name="GiaDen" value="@Request["GiaDen"]">
                            </div>
                        </div>
                    </div>

                    <div class="form-horizontal">
                        <div class="form-group row">
                            <label class="col-lg-2 col-form-label" for="simpleinput">Số lượng từ</label>
                            <div class="col-lg-1">
                                <input type="text" class="form-control" name="SoLuongTu" value="@Request["SoLuongTu"]">
                            </div>
                            <label class="col-lg-2 col-form-label" for="simpleinput">Số lượng đến</label>
                            <div class="col-lg-1">
                                <input type="text" class="form-control" name="SoLuongDen" value="@Request["SoLuongDen"]">
                            </div>
                            <label class="col-lg-2 col-form-label" for="simpleinput">Trạng thái</label>
                            <div class="col-lg-4">
                                <select name="TrangThai" class="form-control">
                                    <option value="">--Trạng thái--</option>
                                    @{
                                        string trangThai = string.IsNullOrEmpty(Request["TrangThai"]) ? "" : Request["TrangThai"];
                                    }

                                    <option value="true" @(trangThai.Equals("true") ? "selected" : "")>Đang hiện</option>
                                    <option value="false" @(trangThai.Equals("false") ? "selected" : "")>Đã ẩn</option>
                                </select>
                            </div>
                        </div>
                    </div>
                    <div class="button-list">
                        <a href="@Url.Action("ThemSanPham", "Admin")" class="btn btn-warning float-right" title="Thêm sản phẩm">
                            <i class="fe-plus"></i>
                        </a>

                        <button type="submit" class="btn btn-success float-right" title="Tìm kiếm sản phẩm">
                            <i class="fe-search"></i>
                        </button>

                    </div>*@
                }



            </div> <!-- end card-box -->
        </div> <!-- end card-->
    </div><!-- end col -->
</div>

<table class="table mb-0">
    <thead class="thead-light">
        <tr>
            <th>#</th>
            <th>Tên Khách Hàng</th>
            <th>Mã Đơn Hàng</th>
            <th>Số lượng sản phẩm</th>
            <th>Tổng tiền</th>
            <th>Thao tác</th>
        </tr>
    </thead>
    <tbody>
        @foreach (var item in ViewBag.lstDH)
        {

                <tr>
                    <th scope="row">@soTT</th>
                    <td>@item.TenKH</td>
                    <td>@item.MaDH</td>
                    <td>@item.SoLuongSP</td>
                    <td>@item.TongTien</td>

                    <td>
                        <a href="@Url.Action("ChiTietDonHang", "Admin", new {MaDH = item.MaDH})" class="btn btn-primary btn-sm" title="Sửa sản phẩm">
                            <i class="fe-edit-1"></i>
                        </a>
                        @*<a href="@Url.Action("HienSanPham", "Admin", new {MaSP = item.MaGiay})" class="btn btn-success btn-sm" title="Xóa sản phẩm">
                            <i class="fa-solid fa-recycle"></i>
                        </a>*@
                    </td>
                </tr>
            soTT++;
        }

    </tbody>
</table>

