@using ShopGiay.Models;
@using PagedList.Mvc;
@model PagedList.PagedList<SANPHAM>

@{
    ViewBag.Title = "QuanLySanPham";
    Layout = "~/Views/Shared/_LayoutAdmin.cshtml";
    var soTT = 1;
    var TH = ViewBag.ThuongHieu as IEnumerable<ShopGiay.Models.THUONGHIEU>;
    int MaTT = string.IsNullOrEmpty(Request["MaTT"]) ? 0 : int.Parse(Request["MaTT"]);
}

<style>
    .MenuTrang {
        display: inline;
        text-align: center;
    }

    .pagination {
        display: inline-block;
        padding-left: 0;
        margin: 20px 0;
        border-radius: 4px;
    }

        .pagination > li {
            display: inline;
        }

            .pagination > li:first-child > a, .pagination > li:first-child > span {
                margin-left: 0;
                border-top-left-radius: 4px;
                border-bottom-left-radius: 4px;
            }

            .pagination > li > a, .pagination > li > span {
                position: relative;
                float: left;
                padding: 6px 12px;
                margin-left: -1px;
                line-height: 1.42857143;
                color: #337ab7;
                text-decoration: none;
                background-color: #fff;
                border: 1px solid #ddd;
            }

        .pagination > .active > a, .pagination > .active > a:focus, .pagination > .active > a:hover, .pagination > .active > span, .pagination > .active > span:focus, .pagination > .active > span:hover {
            z-index: 3;
            color: #fff;
            cursor: default;
            background-color: #337ab7;
            border-color: #337ab7;
        }

        .pagination > li > a:focus, .pagination > li > a:hover, .pagination > li > span:focus, .pagination > li > span:hover {
            z-index: 2;
            color: #23527c;
            background-color: #eee;
            border-color: #ddd;
        }
</style>

<div class="row">
    <div class="col-12">
        <div class="page-title-box">

            <h4 class="page-title">Quản lý sản phẩm</h4>
        </div>
    </div>
</div>

<div class="row">
    <div class="col-12">
        <div class="card">
            <div class="card-body">
                <h4 class="header-title">Tìm kiếm sản phẩm</h4>
                <br>

                @using (Html.BeginForm("QuanLySanPham", "Admin", FormMethod.Get))
                {
                    <div class="form-horizontal">
                        <div class="form-group row">
                            <label class="col-lg-2 col-form-label" for="simpleinput">Tên sản phẩm</label>
                            <div class="col-lg-4">
                                <input type="text" class="form-control" name="TenSP" value="@Request["TenSP"]">
                            </div>
                            <label class="col-lg-2 col-form-label" for="simpleinput">Thương Hiệu</label>
                            <div class="col-lg-4">
                                <select name="MaTT" id="MaTT" class="form-control">
                                    <option value="">--Chọn Thương Hiệu--</option>
                                    @foreach (var item in TH)
                                    {
                                        <option value="@item.MaThuongHieu" @(MaTT == item.MaThuongHieu ? "selected" : "")>@item.TenThuongHieu</option>
                                    }
                                </select>
                            </div>
                        </div>

                    </div>

                    <div class="form-horizontal">
                        <div class="form-group row">
                            <label class="col-lg-2 col-form-label" for="simpleinput">Giá cả từ</label>
                            <div class="col-lg-3">
                                <input type="text" class="form-control" name="GiaTu" value="@Request["GiaTu"]">
                            </div>
                            <label class="col-lg-2 col-form-label" for="simpleinput">Giá cả đến</label>
                            <div class="col-lg-3">
                                <input type="text" class="form-control" name="GiaDen" value="@Request["GiaDen"]">
                            </div>
                        </div>
                    </div>

                    <div class="form-horizontal">
                        <div class="form-group row">
                            <label class="col-lg-2 col-form-label" for="simpleinput">Số lượng từ</label>
                            <div class="col-lg-1">
                                <input type="text" class="form-control" name="SoLuongTu" value="@Request["SoLuongTu"]">
                            </div>
                            <label class="col-lg-2 col-form-label" for="simpleinput">Số lượng đến</label>
                            <div class="col-lg-1">
                                <input type="text" class="form-control" name="SoLuongDen" value="@Request["SoLuongDen"]">
                            </div>
                            <label class="col-lg-2 col-form-label" for="simpleinput">Trạng thái</label>
                            <div class="col-lg-4">
                                <select name="TrangThai" class="form-control">
                                    <option value="">--Trạng thái--</option>
                                    @{ 
                                        string trangThai = string.IsNullOrEmpty(Request["TrangThai"]) ? "" : Request["TrangThai"];
                                    }

                                    <option value="true" @(trangThai.Equals("true") ? "selected" : "")>Đang hiện</option>
                                    <option value="false" @(trangThai.Equals("false") ? "selected" : "")>Đã ẩn</option>
                                </select>
                            </div>
                        </div>
                    </div>
                    <div class="button-list">
                        <a href="@Url.Action("ThemSanPham", "Admin")" class="btn btn-warning float-right" title="Thêm sản phẩm">
                            <i class="fe-plus"></i>
                        </a>

                        <button type="submit" class="btn btn-success float-right" title="Tìm kiếm sản phẩm">
                            <i class="fe-search"></i>
                        </button>

                    </div>
                }



            </div> <!-- end card-box -->
        </div> <!-- end card-->
    </div><!-- end col -->
</div>

<table class="table mb-0">
    <thead class="thead-light">
        <tr>
            <th>#</th>
            <th>Tên Giày</th>
            <th>Size</th>
            <th>Giá Bán</th>
            <th>Số Lượng</th>
            <th>Ảnh Bìa</th>
            <th>Trạng Thái</th>
            <th>Thao Tác</th>
        </tr>
    </thead>
    <tbody>
        @foreach (var item in Model)
        {
            if (item.TrangThai == true)
            {
                <tr>
                    <th scope="row">@soTT</th>
                    <td>@item.TenGiay</td>
                    <td>@item.Size</td>
                    <td>@Html.FormatValue(item.GiaBan, "{0:#,##0}") VNĐ</td>
                    <td>@item.SoLuongTon</td>
                    <td>
                        <img src="~/Images/@item.AnhBia" style=" width: 100px; height: 80px;" />
                    </td>
                    <td>Đang hiện</td>
                    <td>
                        <a href="@Url.Action("SuaSanPham", "Admin", new {MaSP = item.MaGiay})" class="btn btn-primary btn-sm" title="Sửa sản phẩm">
                            <i class="fe-edit-1"></i>
                        </a>
                        <a href="@Url.Action("XoaSanPham", "Admin", new {MaSP = @item.MaGiay})" class="btn btn-danger btn-sm" title="Xóa sản phẩm">
                            <i class="fe-trash-2"></i>
                        </a>
                    </td>
                </tr>
            }
            else
            {
                <tr>
                    <th scope="row">@soTT</th>
                    <td>@item.TenGiay</td>
                    <td>@item.Size</td>
                    <td>@Html.FormatValue(item.GiaBan, "{0:#,##0}") VNĐ</td>
                    <td>@item.SoLuongTon</td>
                    <td>
                        <img src="~/Images/@item.AnhBia" style=" width: 100px; height: 80px;" />
                    </td>
                    <td>Đã ẩn</td>
                    <td>
                        <a href="@Url.Action("SuaSanPham", "Admin", new {MaSP = item.MaGiay})" class="btn btn-primary btn-sm" title="Sửa sản phẩm">
                            <i class="fe-edit-1"></i>
                        </a>
                        <a href="@Url.Action("HienSanPham", "Admin", new {MaSP = item.MaGiay})" class="btn btn-success btn-sm" title="Xóa sản phẩm">
                            <i class="fa-solid fa-recycle"></i>
                        </a>
                    </td>
                </tr>
            }


            soTT++;
        }

    </tbody>
</table>

<div>Trang @(Model.PageCount<Model.PageNumber?0:Model.PageNumber) / @Model.PageCount</div>
<div class="MenuTrang">
    @Html.PagedListPager(Model, page => Url.Action("QuanLySanPham", new
    {
        page = page,
                                                                          TenSP = Request["TenSP"],
                                                                          MaTT = MaTT,
                                                                          GiaTu = Request["GiaTu"],
                                                                          GiaDen = Request["GiaDen"]
                                                                        }))
</div>

