<div id="sidebar-menu">
    <ul class="metismenu" id="side-menu">
        <li class="menu-title">Danh mục</li>
        <li>
            <a href="@Url.Action("DoanhThuSanPham", "Admin")">
                <i class="fa-solid fa-chart-column"></i>
                <span> Doanh thu sản phẩm </span>
            </a>
        </li>

        <li>
            <a href="@Url.Action("QuanLySanPham", "Admin")">
                <i class="fa-solid fa-box-archive"></i>
                <span> Quản lý sản phẩm </span>
            </a>
        </li>

        <li>
            <a href="@Url.Action("QuanLyVoucher", "Admin")">
                <i class="fa-solid fa-tag"></i>
                <span> Quản lý Voucher </span>
            </a>
        </li>

        <li>
            <a href="@Url.Action("QuanLyDonHang", "Admin")">
                <i class="fa-solid fa-bars"></i>
                <span> Quản lý đơn hàng </span>
            </a>
        </li>

        <li>
            <a href="@Url.Action("CSKH", "Admin")">
                <i class="fe-user"></i>
                <span> Chăm sóc khách hàng </span>
            </a>
        </li>
        @*<li>
            <a href="./ThucHienDV.html">
                <i class="mdi mdi-playlist-star"></i>
                <span> Thực hiện dịch vụ </span>
            </a>
        </li>

        <li>
            <a href="./LichSuChamSoc.html">
                <i class="mdi mdi-account-group"></i>
                <span> Lịch sử chăm sóc </span>
            </a>
        </li>
        <li>
            <a href="./Product.html">
                <i class="mdi mdi-shopping"></i>
                <span> Quản lí Mỹ Phẩm </span>
            </a>
        </li>*@


    </ul>

</div>
