@model ShopGiay.Models.SANPHAM

@{
    ViewBag.Title = "SuaSanPham";
    Layout = "~/Views/Shared/_LayoutAdmin.cshtml";
    var TH = ViewBag.ThuongHieu as IEnumerable<ShopGiay.Models.THUONGHIEU>;
    var NCC = ViewBag.NhaCungCap as IEnumerable<ShopGiay.Models.NHACUNGCAP>;
}

<div class="row">
    <div class="col-12">
        <div class="page-title-box">

            <h4 class="page-title">Quản lý Sản Phẩm</h4>
        </div>
    </div>
</div>

<div class="row">
    <div class="col-12">
        <div class="card">
            <div class="card-body">
                <h4 class="header-title">Sửa sản phẩm</h4>
                <br>

                @using (Html.BeginForm("SuaSanPham", "Admin", FormMethod.Post, new { enctype = "multipart/form-data" }))
                {
                    <div class="form-horizontal">
                        <div class="form-group row">
                            <label class="col-lg-2 col-form-label" for="simpleinput">Tên sản phẩm</label>
                            <div class="col-lg-10">
                                <input type="text" class="form-control" name="TenSP" value="@Model.TenGiay">
                            </div>
                        </div>
                    </div>

                    <div class="form-horizontal">
                        <div class="form-group row">
                            <label class="col-lg-2 col-form-label" for="simpleinput">Thương Hiệu</label>
                            <div class="col-lg-10">
                                <select name="MaTT" class="form-control">
                                    <option value="">--Chọn thương hiệu--</option>
                                    @foreach (var item in TH)
                                    {
                                        <option value="@item.MaThuongHieu" @(Model.MaThuongHieu == item.MaThuongHieu ? "selected" : "")>@item.TenThuongHieu</option>
                                    }
                                </select>
                            </div>
                        </div>
                    </div>

                    <div class="form-horizontal">
                        <div class="form-group row">
                            <label class="col-lg-2 col-form-label" for="simpleinput">Nhà Cung Cấp</label>
                            <div class="col-lg-10">
                                <select name="MaNCC" class="form-control">
                                    <option value="">--Chọn nhà cung cấp--</option>
                                    @foreach (var item in NCC)
                                    {
                                        <option value="@item.MaNCC" @(Model.MaNCC == item.MaNCC ? "selected" : "")>@item.TenNCC</option>
                                    }
                                </select>
                            </div>
                        </div>
                    </div>

                    <div class="form-horizontal">
                        <div class="form-group row">
                            <label class="col-lg-2 col-form-label" for="simpleinput">Giá cả</label>
                            <div class="col-lg-10">
                                <input type="text" class="form-control" name="Gia" value="@Model.GiaBan">
                            </div>
                        </div>
                    </div>

                    <div class="form-horizontal">
                        <div class="form-group row">
                            <label class="col-lg-2 col-form-label" for="simpleinput">Size</label>
                            <div class="col-lg-10">
                                <input type="text" class="form-control" name="Size" value="@Model.Size">
                            </div>
                        </div>
                    </div>

                    <div class="form-horizontal">
                        <div class="form-group row">
                            <label class="col-lg-2 col-form-label" for="simpleinput">Số lượng</label>
                            <div class="col-lg-10">
                                <input type="text" class="form-control" name="soLuong" value="@Model.SoLuongTon">
                            </div>
                        </div>
                    </div>
                    
                    <div class="form-horizontal">
                        <div class="form-group row">
                            <label class="col-lg-2 col-form-label" for="simpleinput">Hình đại diện</label>
                            <input type="file" class="col-lg-4" id="fileInput" name="HinhAnhFiles" onchange="previewImage()">
                            <div class="col-lg-6">
                                <img src="~/Images/@Model.AnhBia" id="imagePreview" width="300px" height="300px">
                            </div>
                        </div>
                    </div>

                    <div class="form-horizontal">
                        <div class="form-group row">
                            <div class="col-lg-3"></div>
                            <div class="col-lg-3" style="margin-left: 80px;">
                                <button type="submit" class="btn btn-primary">Sửa sản phẩm</button>
                            </div>
                            <div class="col-lg-3" style="margin-left: -100px;">
                                <a href="@Url.Action("QuanLySanPham", "Admin")" class="btn btn-primary">Hủy thao tác</a>
                            </div>
                        </div>
                    </div>
                }
            </div> <!-- end card-box -->
        </div> <!-- end card-->
    </div><!-- end col -->
</div>

<script>
    function previewImage() {
        const fileInput = document.getElementById('fileInput');
        const imagePreview = document.getElementById('imagePreview');

        const file = fileInput.files[0];
        if (file) {
            const reader = new FileReader();
            reader.onload = function (e) {
                imagePreview.src = e.target.result;
                imagePreview.style.display = 'block'; // Hiển thị ảnh
            };
            reader.readAsDataURL(file);
        } else {
            imagePreview.style.display = 'none'; // Nếu không có ảnh, ẩn thẻ img
        }
    }

</script>